<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.safeblock">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/ThemeSafeBlock"
        android:windowSoftInputMode="adjustPan">
        <activity
            android:name=".DetailTestCovidTerbayarActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ConfirmTestDataActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".InputDataTestCovidActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DokterModeActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoginDokterActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ChooseModeActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListDokterActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SignupDokterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginDeveloperActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddTransactionHash"
            android:exported="false"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSafeBlock.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".TranscationActivity"
            android:exported="false"
            android:label="@string/title_activity_transcation"
            android:screenOrientation="nosensor"
            android:theme="@style/ThemeSafeBlock.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSafeBlock"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:replace="screenOrientation">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:replace="screenOrientation" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
    </application>

</manifest>